Data/NC_Results.gdb

Scratch/Rstuff/*.csv

Scripts/DataPrep/utils.py
Scripts/DataPrep/UpliftToASCII.py
Scripts/DataPrep/DataPrep_ExtractESRILandscapeData.py
Scripts/DataPrep/CreateMaxentBatchFile.py
Scripts/DataPrep/CreateMaxentBatchFile.py
Data/SDEfiles/arcgis on hydro.arcgis.com (user).ags

SandBox.tbx
*.pyc

Data/SpeciesModels.7z
