Chapin/*
EEP/*
StreamCat/*
Tooldata/NHDStreamCat.gdb/*
Tooldata/NHDStreamCat.gdb/*
Tooldata/NCStreamCat.gdb/*
Tooldata/*.gdb
SpeciesModels/*
TNCResilience/*
EEP_030501.gdb/*
Templates/ExampleProject*.*
Projects/*